{% extends 'layout.html' %}

{% block body %}
		<div class="register">
			<h1>Register</h1>
			<div class="links">
				<a href="{{ url_for('login') }}">Login</a>
				<a href="{{ url_for('register') }}" class="active">Register</a>
			</div>
			<form action="{{ url_for('register') }}" method="POST" autocomplete="off">
				<label for="username">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="username" placeholder="Username" id="username" required>
				<label for="password">
					<i class="fas fa-lock"></i>
				</label>
				<input type="password" name="password" placeholder="Password" id="password" required>
				<label for="email">
					<i class="fas fa-envelope"></i>
				</label>
				<input type="email" name="email" placeholder="Email" id="email" required>
				<label for="Course">
					<i class="fas fa-envelope"></i>
				</label>
				<input type="text" name="Course" placeholder="Course" id="Course" required>
				<div class="msg">{{ msg }}</div>
				<button  class="btny" type="submit" value="Register">Register</button>
			</form>
		</div>

	
		

</html>
{% endblock %}